.btn-blue {
	background-color: #609966;
	padding: 15px 20px;
	border-radius: 4px;
	color: #EDF1D6;
	font-weight: bold;
	text-decoration: none;
	font-family: Roboto;
}
.btn-blue:hover {
	background-color: #40513B;
}